In [6]:
import pandas as pd
import csv
import numpy as np

In [3]:
thwiki_df = pd.read_csv('../dataset/cleaned/th-wiki_only_20.7.2020/thwiki.csv')

In [4]:
thwiki_df.describe()

           nb_tokens
count  944381.000000
mean       53.919206
std        64.783242
min         1.000000
25%         7.000000
50%        29.000000
75%        82.000000
max      8099.000000

In [5]:
thwiki_df.head(3)

,category,dataset_name,text,nb_tokens
0,encyclopedia,thwiki,แคนแคน,2
1,encyclopedia,thwiki,"แคนแคน (ก็องก็อง แปลว่า ""อื้อฉาว) เป็นรูปแบบกา...",81
2,encyclopedia,thwiki,ดนตรีที่ใช้ประกอบการเต้น มักใช้เพลงกาล็อพ (gal...,69

In [17]:
!mkdir -p ../dataset/split/th-wiki_only_20.7.2020/train/ ../dataset/split/th-wiki_only_20.7.2020/val ../dataset/split/th-wiki_only_20.7.2020/test

In [18]:
train_df, valid_df, test_df = np.split(thwiki_df.sample(frac=1, random_state=2020), [int(.8*len(thwiki_df)), int(.9*len(thwiki_df))])

In [19]:
train_df.head(3)

,category,dataset_name,text,nb_tokens
759397,encyclopedia,thwiki,Section::::รถไฟความเร็วสูง.,6
797921,encyclopedia,thwiki,แกรนด์ วังบูรพา,4
2519,encyclopedia,thwiki,ภาพถ่ายเป็นองค์ประกอบสำคัญในการสร้างงานศิลปะขอ...,167

In [20]:
valid_df.head(3)

,category,dataset_name,text,nb_tokens
699510,encyclopedia,thwiki,Section::::การจำแนก.,4
3392,encyclopedia,thwiki,ต้นทศวรรษ 1970 ถึงปลายทศวรรษ 1990 ประเทศที่มีค...,88
219141,encyclopedia,thwiki,Section::::กลุ่มภารกิจด้านการพยาบาล.,10

4       60499
5       45975
6       38515
7       26103
8       19516
3       18454
9       15030
2       12953
10      12025
11      10759
12       9377
13       8481
1        8208
14       7736
15       7295
16       7168
17       6758
18       6444
19       5949
20       5646
21       5562
23       5493
25       5308
22       5301
24       5237
27       4982
26       4969
28       4745
29       4721
30       4709
        ...
704         1
703         1
839         1
557         1
605         1
556         1
846         1
555         1
625         1
1326        1
814         1
1136        1
798         1
714         1
1312        1
802         1
713         1
622         1
803         1
711         1
804         1
571         1
2852        1
1082        1
1135        1
806         1
568         1
567         1
813         1
511         1
Name: nb_tokens, Length: 786, dtype: int64

In [22]:
train_df[['text']].dropna().sample(frac=1, random_state=2020).to_csv('../dataset/split/th-wiki_only_20.7.2020/train/train.txt',
                                                            encoding='utf-8', sep="\t", index=False, header=None,
                                                            escapechar="", quotechar="", quoting=csv.QUOTE_NONE)

In [24]:
valid_df[['text']].dropna().sample(frac=1, random_state=2020).to_csv('../dataset/split/th-wiki_only_20.7.2020/val/val.txt',
                                                            encoding='utf-8', sep="\t", index=False, header=None,
                                                            escapechar="", quotechar="", quoting=csv.QUOTE_NONE)

In [25]:
test_df[['text']].dropna().sample(frac=1, random_state=2020).to_csv('../dataset/split/th-wiki_only_20.7.2020/test/test.txt',
                                                            encoding='utf-8', sep="\t", index=False, header=None,
                                                            escapechar="", quotechar="", quoting=csv.QUOTE_NONE)